.App {
  text-align: center;
  margin-top: 100px;
}

.items{
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 6px;
  width: 400px;
  margin-bottom: 20px;
}
.total{
  margin: auto;
  border: 1px solid grey;
  background-color: blanchedalmond;
  font-weight: bolder;
  width: 300px;
}